*.pyc
*.log
node_modules
coverage/
arches_he_location_extensions/logs
arches_he_location_extensions/export_deliverables
arches_he_location_extensions/cantaloupe/*
arches_he_location_extensions/staticfiles
arches_he_location_extensions/media/packages
arches_he_location_extensions/media/build/
arches_he_location_extensions/uploadedfiles/*
arches_he_location_extensions/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
