// use this file to override specific colors in the application
// see https://github.com/archesproject/arches/tree/master/arches/app/media/css/themes/_default.scss 
// in the arches repo for the colors that can be overridden
//
// eg:
// $link-color: red;

// Start - Report card map widget
.rp-card-section {
    .rp-report-tile {
        .dl-horizontal {
            display: flex;
        }
    }
    .map-enhanced-container {
        width: min(calc(100vw - 29rem), calc(100vw - 12rem));
        max-width: 74vw;
        .map-enhanced-inner {
            width: 100%;
            height: clamp(280px, 44vh, 600px);
            border: 1px solid #d9dee2;
            border-radius: 4px;
            box-sizing: border-box;
        }
    }
}

@media screen and (max-width: 767px) {
    .rp-card-section {
        .rp-report-tile {
            .dl-horizontal {
                dd {
                    width: calc(100vw - 110px)!important;
                }
            }
        }
    }
}
// End - Report card map widget